PyQt5
geopandas
PyQtWebEngine
folium
scipy
matplotlib
git+https://github.com/e2nIEE/pandapipes.git@develop
geopy
overpy
geojson
scikit-learn
PyPDF2
reportlab
numpy_financial
pyomo
requests
selenium
webdriver-manager
CoolProp
contextily
plotly