PyQt6
PyQt6-WebEngine
geopandas
folium
scipy
matplotlib
pandapipes==0.12.0.dev1
pandapower==2.14.11
geopy
overpy
geojson
scikit-learn
PyPDF2
reportlab
numpy_financial
pyomo
requests
selenium
webdriver-manager
CoolProp
contextily
plotly
sphinx>=8.0.0
sphinx-rtd-theme>=2.0.0
sphinx-design>=0.5.0
sphinx-copybutton>=0.5.0
sphinx-tabs>=3.4.0
myst-parser>=2.0.0
sphinxcontrib-bibtex>=2.4.0
