PyQt5
geopandas
PyQtWebEngine
folium
scipy
matplotlib
pandapipes==0.12.0.dev1
pandapower==2.14.11
geopy
overpy
geojson
scikit-learn
PyPDF2
reportlab
numpy_financial
pyomo
requests
selenium
webdriver-manager
CoolProp
contextily
plotly
